altgraph==0.16.1
appdirs==1.4.3
apptools==4.5.0
astroid==2.2.5
attrs==19.3.0
bcrypt==3.1.7
boto3==1.12.26
botocore==1.15.26
cached-property==1.5.1
certifi==2019.6.16
cffi==1.13.2
chardet==3.0.4
Click==7.0
configobj==5.0.6
cryptography==2.8
cycler==0.10.0
decorator==4.4.1
docker==4.1.0
docker-compose==1.25.3
docker-py==1.10.6
docker-pycreds==0.4.0
dockerpty==0.4.1
docopt==0.6.2
docutils==0.15.2
envisage==4.9.0
Flask==1.1.1
fpdf==1.7.2
gspread==3.1.0
gunicorn==20.0.4
httplib2==0.13.1
idna==2.8
imageio==2.6.1
importlib-metadata==1.4.0
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.3
jmespath==0.9.5
joblib==0.14.1
jsonschema==3.2.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.2
macholib==1.13
MarkupSafe==1.1.1
matplotlib==3.2.0rc1
mayavi==4.7.1
mccabe==0.6.1
meshio==3.3.1
more-itertools==8.1.0
networkx==2.4
numpy==1.18.0
oauth2client==4.1.3
pandas==0.25.3
paramiko==2.7.1
Pillow==6.2.1
pyasn1==0.4.7
pyasn1-modules==0.2.6
pycparser==2.19
pyevtk==1.1.1
pyface==6.1.2
Pygments==2.5.2
PyInstaller==3.6
pylint==2.3.1
PyNaCl==1.3.0
pyparsing==2.4.6
PyQt5==5.14.1
PyQt5-sip==12.7.0
pyrsistent==0.15.7
python-dateutil==2.8.1
pytz==2019.3
pyvista==0.23.0
PyYAML==5.3
requests==2.22.0
rsa==4.0
s3transfer==0.3.3
ScatPy==0.1.1
scikit-learn==0.22
scipy==1.4.1
scooby==0.5.0
seaborn==0.10.0
six==1.12.0
sklearn==0.0
texttable==1.6.2
traits==5.2.0
traitsui==6.1.3
typed-ast==1.4.0
urllib3==1.25.3
virtualenv==16.7.8
vtk==8.1.2
vtki==0.18.7
websocket-client==0.57.0
Werkzeug==0.16.0
wrapt==1.11.2
xlrd==1.2.0
XlsxWriter==1.2.7
zipp==2.0.1
